<div class="mainContainer" ng-controller="MainCtrl">
<h3>List of contacts</h3>
<div class="hr"></div>
<a href="#/" ng-click="addApper()" class="btn btn-lg btn-outline">Add Contact</a>
  <div ng-show="saveShow">
    <div class="screenbg"></div>
        <div class="innerContainer well">
    <label>Name</label> 
        <input type="text" name="name" ng-model="newcontact.name"/>
    <label>Email</label> 
        <input type="text" name="email" ng-model="newcontact.email"/>
    <label>Phone</label> 
        <input type="text" name="phone" ng-model="newcontact.phone"/>
        <br/>
        <input type="hidden" ng-model="newcontact.id" />
     <input type="button" id="idcheck" value="Save" ng-click="saveContact()" class="btn btn-lg btn-outline"/>
    </div>
    </div>
    <div ng-show="addShow">
    <div class="screenbg"></div>
        <div class="innerContainer well">
        <label>Name</label> 
            <input type="text" name="name" ng-model="newcontactname"/>
        <label>Email</label> 
            <input type="text" name="email" ng-model="newcontactemail"/>
        <label>Phone</label> 
            <input type="text" name="phone" ng-model="newcontactphone"/>
            <br/>
            <input type="hidden" ng-model="newcontactid" />
             <input type="button" value="ADD" ng-click="addContact()" class="btn btn-lg btn-outline"/>
        </div>
    </div>
<div class="listDetails" ng-repeat="contact in contacts">
<ul>
    <li><img src="../images/6.jpg"/></li>
    <li class="sheader"><b>{{ contact.name }}</b></li>
    <li class="sheader"><b>Email</b></li>
    <li class="sheader">{{ contact.email }}</li>
    <li class="sheader"><b>Phone</b></li>
    <li class="sheader">{{ contact.phone }}</li>
    <li class="pl15"><a  href="#/" ng-click="edit(contact.id); addShow=true"><span class="glyphicon glyphicon-pencil"></span></a> |<a href="#/" ng-click="delete(contact.id)"><span class="glyphicon glyphicon-trash"></span></a>
    </li>
</ul>
</div>   

</div>